<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sageNetTuner" type="SageNetTuner.Configuration.SageNetTunerSection, SageNetTuner" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>


  <sageNetTuner>

    
    <devices>
      <device name="Prime#1" address="192.168.1.4" channelProvider="hdhomerun">
        <tuners>
          <tuner name="tuner0" enabled="True" listenerPort="6150" captureProfile="vlc" sageTvId="12346150" />
          <tuner name="tuner1" enabled="True" listenerPort="6151" captureProfile="vlc" sageTvId="12346151"/>
          <tuner name="tuner2" enabled="True" listenerPort="6152" captureProfile="vlc" sageTvId="12346152"/>
        </tuners>
      </device>
    </devices>

    <channelProviders>
      <provider name="hdhomerun" type="SageNetTuner.Providers.HDHomeRunChannelProvider, SageNetTuner" />
    </channelProviders>

    <captureProfiles>

      <!-- 
        Command Events:
        
          BeforeStart - (Optional) Multiple BeforeStart commands can be provided 
          Start       - (Required) One and only one Start command is executed.  It is expected that this command will continue to run until the Stop event is received from SageTV
          AfterStart  - (Optional) Multiple BeforeStart commands can be provided 
          
          BeforeStop  - (Optional) Multiple BeforeStart commands can be provided 
          (Stop)      -  No command event can be defined for Stop.  SageNetTuner attempts to Stop the process started with Start command
          AfterStop   - (Optional) Multiple BeforeStart commands can be provided 
      
        Available replacement parameters for command line format
          {0} - URL to stream
          {1} - Output filename (full path)
          {2} - Output filename only (no extension)
          {3} - Output filename extension
          {4} - Output filename (path only)
          {5} - Tuner Name
          {6} - Channel Name
          {7} - Channel Number
          {8} - New Guid
          {9} - Current Datetime

      -->
      
      
      <profile name="vlc">
        <commands>
          <command event="Start" path="%ProgramFiles(x86)%\VideoLAN\VLC\vlc.exe" commandLineFormat="{0} --sout=file/ts:&quot;{1}&quot; -I dummy " delayAfterStart="00:00:10" >
            <settings>
              <add name="WaitForRecordingToStart" value="False"/>
            </settings>
          </command>
        </commands>
      </profile>

      <profile name="ffmpeg">

        <!--
   
        ffmpeg command line examples:
        
            -i {0} -f dvd -b 4000 -s 720x480 -acodec mp2 -r 29.97 -ab 128 -ar 48000 -ac 2
        
            -i {0} -f dvd -b:v 4000 -s 720x480 -acodec ac3 -r 29.97 -ab 384k -ar 48000 -ac 6 
           
            -i {0} -f dvd -vcodec copy -acodec copy
            
            -i {0} -f mpegts -vcodec copy -acodec copy -r 29.97 -sn
            
            -i {0} -f mpegts -acodec copy -map 0:a -vcodec copy -map 0:v -sn
            
            -i {0} -acodec copy -c:v mpeg4 -qscale:v 3 -sn 

            -i {0} -acodec copy -c:v mpeg4 -qscale:v 3 -sn -preset superfast
            
            -i {0} -c:v libx264 -preset superfast -crf 18 -c:a copy  [Didn't work very well]
            
            -i {0} -c:v mpeg4 -vtag xvid -qscale:v 3 -c:a libmp3lame -qscale:a 4 [OK]
        -->

        <commands>
          <command event="Start" path=".\FFMPEG\ffmpeg.exe" commandLineFormat="-report -i {0} -c:v mpeg4 -vtag xvid -qscale:v 10 -c:a libmp3lame -qscale:a 5 &quot;{1}&quot;" >
            <settings>
              <add name="WaitForRecordingToStart" value="False"/> <!-- If True then Start will not return OK until recording file FileSize > 0 -->
            </settings>
          </command>
        </commands>
      </profile>

      <profile name="hdhomerun_config">
        <commands>
          <command event="BeforeStart" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF set /{5}/lockkey {8}" />
          <command event="BeforeStart" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/vchannel {7}" />
          <command event="Start" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} save /{5} &quot;{1}&quot;" />
          <command event="AfterStop" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/vchannel none" />
          <command event="AfterStop" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/lockkey none" />
        </commands>
      </profile>
    </captureProfiles>

  </sageNetTuner>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="padLevel" value="${pad:padding=10:fixedLength=true:inner=${level}}"/>
    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs.
   -->
    <targets>
      <target xsi:type="ColoredConsole" name="console" layout="${time} ${pad:padding=-65:fixedLength=true:inner:${message}}${onexception:${newline}${exception:format=tostring}}" />
      <target xsi:type="File" name="file" fileName="${baseDir}/Logs/SageNetTuner.log" archiveFileName="${basedir}/Logs/SageNetTuner-{#}.log" archiveNumbering="Rolling" archiveEvery="Day" maxArchiveFiles="3" 
              layout="${longdate} ${padLevel} [${logger}] ${message}${onexception:${newline}${exception:format=tostring}}" />
      <target xsi:type="File" name="stdout" fileName="${basedir}/Logs/Recordings/${logger}.log" layout="${time} ${message}" />

    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
     
      <logger name="*" minlevel="Trace" writeTo="file">
        <filters>
          <when condition="starts-with('${logger}','stdout-')" action="Ignore" />
        </filters>
      </logger>
      <logger name="stdout-*" minlevel="Trace" writeTo="stdout" />
    </rules>
  </nlog>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
