<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sageNetTuner" type="SageNetTuner.Configuration.SageNetTunerSection, SageNetTuner"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>


  <sageNetTuner>
    <!--
      CommandLineFormat -  Parameters are replaced and used to execute ffmpeg.exe to begin recording
      Available replacement parameters
        {0} - URL to stream
        {1} - Output filename (full path)
        {2} - Output filename only (no extension)
        {3} - Output filename extension
        {4} - Output filename (path only)
        {5} - Tuner Name
        {6} - Channel Name
        {7} - Channel Number
        {8} - New Guid
        {9} - Current Datetime
  -->

    <encoders>
      <add name="ffmpeg">
        <commands>
          <add name="recording" event="Start" path=".\FFMPEG\ffmpeg.exe" commandLineFormat="-report -i {0} -c:v mpeg4 -vtag xvid -qscale:v 10 -c:a libmp3lame -qscale:a 5 &quot;{1}&quot;"/>
        </commands>

      </add>

      <add name="vlc">
        <commands>
          <add name="recording" event="Start" path="%ProgramFiles(x86)%\VideoLAN\VLC\vlc.exe" commandLineFormat="-vvv {0} --sout=file/ts:&quot;{1}&quot; -I dummy "/>
        </commands>
      </add>

      <add name="hdhomerun_config">
        <commands>
          <add name="lock" event="BeforeStart" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF set /{5}/lockkey {8}"/>
          <add name="tune" event="BeforeStart" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/vchannel {7}"/>
          <add name="recording" event="Start" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} save /{5} &quot;{1}&quot;"/>
          <add name="stop" event="Stop" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/vchannel none"/>
          <add name="removelock" event="AfterStop" path="%ProgramFiles%\Silicondust\HDHomeRun\hdhomerun_config.exe" commandLineFormat="FFFFFFFF key {8} set /{5}/lockkey none"/>
        </commands>
      </add>
    </encoders>

    <channelProviders>
      <add name="hdhomerun" type="HDHRNetworkTuner.Providers.HDHomeRunChannelProvider, HDHRNetworkTuner"/>
    </channelProviders>

    <devices>
      <add name="Prime#1" address="192.168.1.18" channelProvider="hdhomerun"/>
    </devices>

    <tuners>
      <add name="tuner0" enabled="False" listenerPort="6150" encoder="vlc" device="Prime#1"/>
      <add name="tuner1" enabled="False" listenerPort="6151" encoder="vlc" device="Prime#1"/>
      <add name="tuner2" enabled="True" listenerPort="6152" encoder="vlc" device="Prime#1"/>
    </tuners>

  </sageNetTuner>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs.
   -->
    <targets>
      <target xsi:type="ColoredConsole" name="console" layout="${time} ${pad:padding=-65:fixedLength=true:inner:${message}}${onexception:${newline}${exception:format=tostring}}"/>
      <target xsi:type="File" name="file" fileName="${baseDir}/Logs/SageNetTuner.log" archiveFileName="${basedir}/Logs/SageNetTuner-{#}.log" archiveNumbering="Rolling" archiveEvery="Day" maxArchiveFiles="3" layout="${time} [${logger}] ${message}${onexception:${newline}${exception:format=tostring}}"/>
      <target xsi:type="File" name="stdout" fileName="${basedir}/Logs/Recordings/${logger}.log" layout="${time} ${message}"/>

    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="console"/>
     
      <logger name="*" minlevel="Trace" writeTo="file">
        <filters>
          <when condition="starts-with('${logger}','stdout-')" action="Ignore"/>
        </filters>
      </logger>
      <logger name="stdout-*" minlevel="Trace" writeTo="stdout"/>
    </rules>
  </nlog>

  <!--
      CommandLineFormat -  Parameters are replaced and used to execute ffmpeg.exe to begin recording
      Available replacement parameters
        {0} - URL to stream
        {1} - Output filename (full path)
        {2} - Output filename only (no extension)
        {3} - Output filename extension
        {4} - Output filename (path only)
        {5} - Tuner Name
        {6} - Channel Name
        {7} - Channel Number
        {8} - New Guid
        
        
        -i {0}   : Input 
        &quot;{1}&quot;  : Double quoting the output filename
        -report  : ffmmpeg will write to a log file
        -analyzeduration 10000000 
        -probesize 10000000
        -r 30000/1001  - framerate
        
        Examples:
        
            -i {0} -f dvd -b 4000 -s 720x480 -acodec mp2 -r 29.97 -ab 128 -ar 48000 -ac 2
        
            -i {0} -f dvd -b:v 4000 -s 720x480 -acodec ac3 -r 29.97 -ab 384k -ar 48000 -ac 6 
           
            -i {0} -f dvd -vcodec copy -acodec copy
            
            -i {0} -f mpegts -vcodec copy -acodec copy -r 29.97 -sn
            
            -i {0} -f mpegts -acodec copy -map 0:a -vcodec copy -map 0:v -sn
            
            -i {0} -acodec copy -c:v mpeg4 -qscale:v 3 -sn 

            -i {0} -acodec copy -c:v mpeg4 -qscale:v 3 -sn -preset superfast
            
            -i {0} -c:v libx264 -preset superfast -crf 18 -c:a copy  [Didn't work very well]
            
            -i {0} -c:v mpeg4 -vtag xvid -qscale:v 3 -c:a libmp3lame -qscale:a 4 [OK]
-->


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
